.DS_Store
*/.DS_Store
.codex/
.superpowers/
__pycache__/
*.pyc
venv/
data/
dist/
build/node_agent/
cloud_data/*.db
cloud_data/raw_images/
cloud_data/aavso_files/
app/.metadata
app/test/
website/dashboard/
.venv/
cloud_data/validation/
